<div class="col-md-6">
  <h2 class="text-center">Edit User</h2>
  <form #editForm="ngForm" (ngSubmit)="editForm.valid">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" placeholder="Email" name="email" class="form-control" id="email"
      [(ngModel)]="this.userService.user.email">
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input placeholder="Name" name="Name" class="form-control" id="Name"
      [(ngModel)]="this.userService.user.name">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input placeholder="password" name="password" class="form-control" id="password"
      [(ngModel)]="this.userService.user.password">
    </div>
    
    <button class="btn btn-success" (click)="onSubmit(editForm)">Update</button>
  </form>
</div>