<div class="card w-100">
    <div class="card-body">
        <h4 class="card-title">{{ project?.title }}</h4>
        <p class="card-text" style="color: gray;">{{ project?.description }}</p>
        <a *ngIf="isCreator" class="btn btn-primary" data-toggle="collapse" href="#editproject" role="button"
            aria-expanded="false" aria-controls="editproject">Editer <em class="fa fa-pencil"></em></a>
    </div>

    <div class="collapse multi-collapse" id="editproject">
        <div class="card card-body">
            <div class="col-md-5">
                <fieldset>
                    <legend>Modifier le projet</legend>
                    <form #editproject="ngForm" (ngSubmit)="editProject(editproject)">
                        <div class="form-group">
                            <input style="width: 100%;" required type="email" [(ngModel)]="modelproject.title"
                                class="form-control" name="title" id="title" ng-init="myText='Hello World!'">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" required style="width: 100%;resize: none;"
                                [(ngModel)]="modelproject.description" id="description" name="description"
                                rows="4">{{project?.description}}</textarea>
                        </div>
                        <div class="form-group">
                            <select style="width: 100%;" class="custom-select" id="status" name="status"
                                [(ngModel)]="modelproject.status" [value]='0'>
                                <option disabled value='0'>Status</option>
                                <option>En cours</option>
                                <option>Terminé</option>
                            </select>
                        </div>
                        <a class="btn btn-success" data-toggle="collapse" href="#editproject" role="button"
                            (click)="editProject(editproject)" aria-expanded="false"
                            aria-controls="editproject">Confirmer</a>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div><br>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="home-tab" data-toggle="tab" routerLinkActive="active" routerLink='issues' role="tab"
            aria-controls="home" aria-selected="true">Issues</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="taches-tab" data-toggle="tab" routerLinkActive="active" routerLink='tasks' role="tab"
            aria-controls="taches" aria-selected="false">Tâches</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="sprints-tab" data-toggle="tab" routerLinkActive="active" routerLink='sprints' role="tab"
            aria-controls="sprints" aria-selected="false">Sprints</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" routerLinkActive="active" routerLink='tests' role="tab"
            aria-controls="tests" aria-selected="false">Tests</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="releases-tab" data-toggle="tab" routerLinkActive="active" routerLink='releases'
            role="tab" aria-controls="releases" aria-selected="false">Releases</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="documentations-tab" data-toggle="tab" routerLinkActive="active"
            routerLink='documentations' role="tab" aria-controls="documentations"
            aria-selected="false">Documentations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contributor-tab" data-toggle="tab" routerLinkActive="active" routerLink='contributors' role="tab"
            aria-controls="contributor" aria-selected="false">Contributeurs</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        <app-root></app-root>
    </div>
</div>