<div class="card w-100">
    <div class="card-body">
        <h4 class="card-title">{{ project?.title }}</h4>
        <p class="card-text" style="color: gray;">{{ project?.description }}</p>
        <a *ngIf="isCreator" class="btn btn-primary" data-toggle="collapse" href="#editproject" role="button"
            aria-expanded="false" aria-controls="editproject">Editer <i class="fa fa-pencil"></i></a>
    </div>

    <div class="collapse multi-collapse" id="editproject">
        <div class="card card-body">
            <div class="col-md-5">
                <fieldset>
                    <form #editproject="ngForm" (ngSubmit)="editProject(editproject)">
                        <div class="form-group">
                            <input style="width: 100%;" required type="email" [(ngModel)]="modelproject.title"
                                class="form-control" name="title" id="title" ng-init="myText='Hello World!'">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" required style="width: 100%;resize: none;"
                                [(ngModel)]="modelproject.description" id="description" name="description"
                                rows="4">{{project?.description}}</textarea>
                        </div>
                        <a class="btn btn-success" data-toggle="collapse" href="#editproject" role="button"
                            (click)="editProject(editproject)" aria-expanded="false"
                            aria-controls="editproject">Confirmer</a>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div><br>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Issues</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="taches-tab" data-toggle="tab" href="#taches" role="tab" aria-controls="taches"
            aria-selected="false">Tâches</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tests" role="tab" aria-controls="profile"
            aria-selected="false">Tests</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="sprints-tab" data-toggle="tab" href="#sprints" role="tab" aria-controls="sprints"
            aria-selected="false">Sprints</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="releases-tab" data-toggle="tab" href="#releases" role="tab" aria-controls="releases"
            aria-selected="false">Releases</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="documentations-tab" data-toggle="tab" href="#documentations" role="tab"
            aria-controls="documentations" aria-selected="false">Documentations</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="card-body">
            <h5 class="card-title">Liste des issues</h5>
            <a class="btn btn-success" data-toggle="collapse" href="#addIssue" role="button" aria-expanded="false"
                aria-controls="addIssue">Ajouter <i class="fa fa-plus"></i></a>
        </div>

        <div class="collapse multi-collapse" id="addIssue">
            <div class="card card-body">
                <div class="col-md-6">
                    <fieldset>
                        <form #newIssue="ngForm" (ngSubmit)="newIssue.valid">
                            <div class="from row">
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" placeholder="Décrire votre issue"
                                        style="width: 100%;resize: none;" id="description" name="description"
                                        [(ngModel)]="modelIssue.description" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="from row">
                                <div class="form-group col">
                                    <input type="email" class="form-control" placeholder="ID" name="issueID"
                                        id="issueID" rows="3" [(ngModel)]="modelIssue.issueID">
                                </div>
                                <div class="form-group col">
                                    <input type="email" class="form-control" placeholder="Priorité" name="priorite"
                                        id="priorite" rows="3" [(ngModel)]="modelIssue.priorite">
                                </div>
                                <div class="form-group col">
                                    <select class="custom-select" id="difficulte" name="difficulte"
                                        [(ngModel)]="modelIssue.difficulte">
                                        <option disabled value='0'>Difficulté</option>
                                        <option>Basse</option>
                                        <option>Moyenne</option>
                                        <option>Elevée</option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <select (change)="ChangingValue($event)" class="custom-select" id="status"
                                        name="status" [(ngModel)]="modelIssue.status" [value]='0'>
                                        <option disabled value='0'>Status</option>
                                        <option>En cours</option>
                                        <option>Terminé</option>
                                    </select>

                                </div>
                            </div>
                            <a class="btn btn-success" (click)="onSubmitIssue(newIssue)" data-toggle="collapse"
                                href="#addIssue" role="button" aria-expanded="false"
                                aria-controls="addIssue">Ajouter</a>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <thead class="thead">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Description</th>
                    <th scope="col">Priorité </th>
                    <th scope="col">Difficulté </th>
                    <th scope="col">Status </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let issue of project?.issues">
                    <td>{{issue?.issueID}}</td>
                    <td style="width: 40%;">{{issue?.description}}</td>
                    <td>{{issue?.priorite}}</td>
                    <td>{{issue?.difficulte}}</td>
                    <td>{{issue?.status}}</td>

                    <td>
                        <button type="button" (click)="updateModalEditIssue(issue)" data-toggle="modal"
                            data-target="#editIssueModal" class="btn btn-info"><i class="fa fa-edit"></i></button>&nbsp;
                        <button type="button" (click)="removeIssue(issue._id)" class="btn btn-danger"><i
                                class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="editIssueModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editer issue</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #editIssue="ngForm" (ngSubmit)="editIssue.valid">
                        <div class="from row">
                            <div class="form-group col-md-12">
                                <textarea class="form-control" placeholder="Décrire votre issue"
                                    style="width: 100%;resize: none;" id="description" name="description"
                                    [(ngModel)]="modelIssueEdit.description" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="from row">
                            <div class="form-group col">
                                <input type="email" class="form-control" placeholder="ID" name="issueID" id="issueID"
                                    rows="3" [(ngModel)]="modelIssueEdit.issueID">
                            </div>
                            <div class="form-group col">
                                <input type="email" class="form-control" placeholder="Priorité" name="priorite"
                                    id="priorite" rows="3" [(ngModel)]="modelIssueEdit.priorite">
                            </div>
                            <div class="form-group col">
                                <select class="custom-select" id="difficulte" name="difficulte"
                                    [(ngModel)]="modelIssueEdit.difficulte">
                                    <option disabled value='0'>Difficulté</option>
                                    <option>Basse</option>
                                    <option>Moyenne</option>
                                    <option>Elevée</option>
                                </select>
                            </div>
                            <div class="form-group col">
                                <select (change)="ChangingValue($event)" class="custom-select" id="status" name="status"
                                    [(ngModel)]="modelIssueEdit.status" [value]='0'>
                                    <option disabled value='0'>Status</option>
                                    <option>En cours</option>
                                    <option>Terminé</option>
                                </select>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" (click)="onSubmitEditIssue(editIssue)" data-dismiss="modal"
                        class="btn btn-primary">Confirmer</button>
                </div>
            </div>
        </div>
    </div>

    <div id="taches" class="tab-pane fade">

        <div class="card-body">
            <h5 class="card-title">Liste des tâches</h5>
            <a class="btn btn-success" data-toggle="collapse" href="#multiCollapseExample2" role="button"
                aria-expanded="false" aria-controls="multiCollapseExample2">Ajouter <i class="fa fa-plus"></i></a>
        </div>
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
                <div class="col-md-5">
                    <fieldset>
                        <form #newTask="ngForm" (ngSubmit)="newTask.valid">
                            <div class="from row">
                                <div class="form-group col">
                                    <select class="custom-select" id="idIssues" name="idIssues"
                                        [(ngModel)]="modelTask.issue">
                                        <option disabled value='0'>Choisir l'issue</option>
                                        <option [value]='issue?.issueID' *ngFor="let issue of project?.issues">
                                            {{issue?.issueID}} / {{issue?.description}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="from row">
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" placeholder="Décrire votre tâche"
                                        style="width: 100%;resize: none;" id="description" name="description"
                                        [(ngModel)]="modelTask.description" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="from row">
                                <div class="form-group col">
                                    <input type="email" class="form-control" placeholder="Côut" name="cout" id="cout"
                                        rows="3" [(ngModel)]="modelTask.cout">
                                </div>
                                <div class="form-group col">
                                    <select class="custom-select" id="developer" name="developer"
                                        [(ngModel)]="modelTask.developer">
                                        <option disabled value='0'>Choisir le développeur</option>
                                        <option *ngFor="let user of users">
                                            {{user?.name}} / {{user?.email}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <a class="btn btn-success" (click)="onSubmitTask(newTask)" data-toggle="collapse"
                                href="#multiCollapseExample2" role="button" aria-expanded="false"
                                aria-controls="multiCollapseExample2">Confirmer</a>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <thead class="thead">
                <tr>
                    <th scope="col">Issues</th>
                    <th scope="col">Description</th>
                    <th scope="col">Coût</th>
                    <th scope="col">Développeur</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let task of project?.tasks">
                    <td>
                        <p *ngFor="let issue of task?.idIssues">[ {{issue}} ]</p>
                    </td>
                    <td style="width: 40%;">{{task?.description}}</td>
                    <td>{{task?.cout}}</td>
                    <td>{{task?.developer}}</td>

                    <td>
                            <button type="button" (click)="updateModalEditTask(task)" data-toggle="modal"
                            data-target="#editTaskModal" class="btn btn-info"><i class="fa fa-edit"></i></button>&nbsp;
                        <button type="button" (click)="removeTask(task._id)" class="btn btn-danger"><i
                                class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editer tâche</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #editTask="ngForm" (ngSubmit)="editTask.valid">
                        <div class="from row">
                            <div class="form-group col">
                                <select class="custom-select" id="idIssues" name="idIssues"
                                    [(ngModel)]="modelTaskEdit.issue">
                                    <option disabled value='0'>Choisir l'issue</option>
                                    <option [value]='issue?.issueID' *ngFor="let issue of project?.issues">
                                        {{issue?.issueID}} / {{issue?.description}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="from row">
                            <div class="form-group col-md-12">
                                <textarea class="form-control" placeholder="Décrire votre tâche"
                                    style="width: 100%;resize: none;" id="description" name="description"
                                    [(ngModel)]="modelTaskEdit.description" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="from row">
                            <div class="form-group col">
                                <input type="email" class="form-control" placeholder="Côut" name="cout" id="cout"
                                    rows="3" [(ngModel)]="modelTaskEdit.cout">
                            </div>
                            <div class="form-group col">
                                <select class="custom-select" id="developer" name="developer"
                                    [(ngModel)]="modelTaskEdit.developer">
                                    <option disabled value='0'>Choisir le développeur</option>
                                    <option *ngFor="let user of users">
                                        {{user?.name}} / {{user?.email}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" (click)="onSubmitEditTask(editTask)" data-dismiss="modal"
                        class="btn btn-primary">Confirmer</button>
                </div>
            </div>
        </div>
    </div>

    <div id="tests" class="tab-pane fade">
        <h3>Liste des tests</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem
            aperiam.</p>
    </div>
    <div id="sprints" class="tab-pane fade">
        <h3>Liste des sprints</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
            explicabo.</p>
    </div>
    <div id="releases" class="tab-pane fade">
        <h3>Liste des releases</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
            explicabo.</p>
    </div>
    <div id="documentations" class="tab-pane fade">
        <h3>Liste des documentations</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
            explicabo.</p>
    </div>

</div>