<div class="card">
    <div class="card-body">
        <h3 class="card-title">Mes projets</h3>
        <a class="btn btn-success" data-toggle="collapse" href="#addproject" role="button"
            aria-expanded="false" aria-controls="addproject">Nouveau projet  <i class="fa fa-plus"></i></a>
    </div>
    <div class="collapse multi-collapse" id="addproject">
        <div class="card card-body">
            <div class="col-md-5">
                <fieldset>
                    <form #newProject="ngForm" (ngSubmit)="newProject.valid">
                        <div class="form-group">
                            <label for="title">Titre</label>
                            <input type="email" class="form-control" name="title" id="title" [(ngModel)]="model.title">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3" [(ngModel)]="model.description"></textarea>
                        </div>
                        <a class="btn btn-success" data-toggle="collapse" href="#addproject" role="button"
                            (click)="onSubmit(newProject)" aria-expanded="false"
                            aria-controls="editproject">Confirmer</a>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Manager</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects.result">
            <td><a routerLink={{project?._id}}>{{project?.title}}</a></td>
            <td>{{project?.description}}</td>
            <td>{{project?.creator?.name}}</td>
            <td>{{project?.status}}</td>
            <td *ngIf="project?.creator?._id === projects?.idlogged">
                <button type="button" (click)="removeProject(project._id)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>