<div class="card-body">
    <h5 class="card-title">Liste des sprints</h5>
    <a class="btn btn-success" data-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false"
        aria-controls="multiCollapseExample3">Ajouter <em class="fa fa-plus"></em></a>
</div>
<div class="collapse multi-collapse" id="multiCollapseExample3">
    <div class="card card-body">
        <div class="col-md-5">
            <fieldset>
                <legend>Nouveau sprint</legend>
                <form #newSprint="ngForm" (ngSubmit)="newSprint.valid">
                    <div class="from row">
                        <div class="form-group col">
                            <input type="email" class="form-control" placeholder="Titre" name="title" id="title"
                                rows="1" [(ngModel)]="modelSprint.title">
                        </div>
                        <div class="form-group col">
                            <div class="input-group">
                                <input class="form-control" placeholder="Date du début" name="dp1"
                                    [(ngModel)]="modelSprint.startDate" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()"
                                        type="button"></button>
                                </div>
                            </div>

                        </div>
                        <div class="form-group col">
                            <div class="input-group">
                                <input class="form-control" placeholder="Date de fin" name="dp2"
                                    [(ngModel)]="modelSprint.endDate" ngbDatepicker #dd="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="dd.toggle()"
                                        type="button"></button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="from row">
                        <div class="form-group col-md-12">
                            <select class="custom-select" id="status" name="status" [(ngModel)]="modelSprint.status"
                                [value]='0'>
                                <option disabled value='0'>Statut</option>
                                <option>En cours</option>
                                <option>Terminé</option>
                            </select>
                        </div>

                    </div>

                    <a class="btn btn-success" (click)="onSubmitSprint(newSprint)" data-toggle="collapse"
                        href="#multiCollapseExample3" role="button" aria-expanded="false"
                        aria-controls="multiCollapseExample3">Confirmer</a>




                </form>

            </fieldset>
        </div>
    </div>
</div>
<table class="table table-striped">
    <caption>Liste des sprints</caption>
    <thead class="thead">
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Période</th>
            <th scope="col">Statut</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let sprint of sprints">

            <td><a routerLink={{sprint?._id}}>{{sprint?.title}}</a></td>
            <td>{{sprint?.startDate}} - {{sprint?.endDate}}</td>
            <td>{{sprint?.status}}</td>
            <td>
                <button type="button" (click)="updateModalEditSprint(sprint)" data-toggle="modal"
                    data-target="#editSprintModal" class="btn btn-info"><em class="fa fa-edit"></em></button>&nbsp;
                <button type="button" (click)="removeSprint(sprint._id)" class="btn btn-danger"><em
                        class="fa fa-trash-o"></em></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="modal fade" id="editSprintModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editer sprint</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editSprint="ngForm" (ngSubmit)="newSprint.valid">
                    <div class="from row">
                        <div class="form-group col">
                            <input type="email" class="form-control" placeholder="Titre" name="title" id="title"
                                rows="1" [(ngModel)]="modelSprintEdit.title">
                        </div>

                        <div class="form-group col">
                            <div class="input-group">
                                <input class="form-control" placeholder="Date de début" name="dp1"
                                    [(ngModel)]="modelSprintEdit.startDate" ngbDatepicker #ddedit="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="ddedit.toggle()"
                                        type="button"></button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col">
                            <div class="input-group">
                                <input class="form-control" placeholder="Date de fin" name="dp2"
                                    [(ngModel)]="modelSprintEdit.endDate" ngbDatepicker #ddedit2="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="ddedit2.toggle()"
                                        type="button"></button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="from row">
                        <div class="form-group col">
                            <select class="custom-select" id="status" name="status" [(ngModel)]="modelSprintEdit.status"
                                [value]='0'>
                                <option disabled value='0'>Statut</option>
                                <option>En cours</option>
                                <option>Terminé</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" (click)="onSubmitEditSprint(editSprint)" data-dismiss="modal"
                    class="btn btn-primary">Confirmer</button>
            </div>
        </div>
    </div>
</div>